body {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    font-family: "Montserrat", sans-serif;
}

.container{
    margin: 120px auto;
    max-width: 600px; 
}

a{
    color: #38598b;
}

header{
    margin-bottom: 30px;
}

h1{
    font-weight: 800px;
    text-align: center;
    font-size: 36px;
    line-height: 1.5;
    color: #38598b;
}

form{
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 30px;
}

.prompt {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: grey;
}

.submit-button{
    border-radius: 50px;
    background-color: #38598b;
    width: 100px;
    border:none;
    padding: 14px 14px;
    color: white;
    margin-left: 10px;
    font-size: 16px;
}

.scripture {
    font-size: 16px;
    background-color: #fff;
    padding: 20px;
    line-height: 2;
    margin-bottom: 30px;
    border-left: 4px solid #38598b;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer{
    text-align: center;
    font-size: 13px;
}